.month {
  font-family: "Yantramanav", sans-serif;
  font-size: 56px;
  font-weight: 900;
  color: #e6af2e;
  text-align: center;
  margin-top: 25px !important;
}

.nav-btn {
  font-family: inherit;
  font-size: 46px;
  font-weight: 900;
  padding: 0;
  color: #e6af2e;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin-top: 25px;
}

button:hover {
  color:#e5ab24; 
  text-decoration: none; 
  cursor:pointer;  
}

.left{
  text-align: right;
}
