.box{
  height: 62px;
  width: 249px;
  margin: 25px auto;
  background-color: #36393F;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.time{
  text-align: center;
  font-family: 'Yantramanav', sans-serif;
  font-size: 40px;
  font-weight: 900;
}
